sets/*
**/__pycache__/
**.MP4
videos/**
camera_projections**
tests/
!sets/targets/
pts_detection/
federico**
pkl-files*
results/*
!results/*.yml
!results/*.xlsx
plots*
old_scripts
~$*
TOCO/
datasets/2d_coords/C*
datasets/2d_coords/backup